li {
    float: left;
}

li a {
    display: block;
    padding: 20px;
    color: burlywood;
    text-align: center;
    text-decoration: none;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(73, 6, 37);
    overflow: hidden;
    position: sticky;
    top: 0;
}

.active {
    background-color: rgb(78, 1, 1);
    color: white;
}

li a:hover:not(.active){
    background-color: rgb(179, 6, 156);
}